.container{
    min-height: 100vh;
    position: relative;
}

.subHeader{
    width: 100%;
    background-color: var(--header-background-color);
    margin: 1rem;   
    padding: 1rem;
    display: flex;
    gap: 1rem;
    list-style: none;
}

.subHeader li > a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    border-bottom: 1px solid var(--text-color);
}

.subHeader li{
    transition: .3s;
}

.subHeader li:hover{
    filter: brightness(150%);
    transform: scale(105%);
}